<div class="example-module-b">
	This is Module B
  <h1>{{config.heading}}</h1>
  <p>{{config.body}}</p>
  <voya-button
    text="Example Page A"
    href="/#/example-module-a"
    icon-left="chevron-left"
    class="white">
  </voya-button>
</div>