<div class="example-module-a">
	This is Module A 
  <h1>{{config.heading}}</h1>
  <p>{{config.body}}</p>
  <voya-button
    text="Example Page B"
    icon="chevron-right"
    href="/#/example-module-b">
  </voya-button>
</div>
