<div class="google-header">
  <div class="google-header-inner">
    <h1 title="Google.com">
      <a class="google-header-brand" href="http://google.com/">
        <img src="/static/global/images/logo-small.png" alt="Google.com" />
      </a>
    </h1>
  </div>
</div>
